.app{
  display: flex;
  flex-direction: column;
  min-height:100vh;
  front-family:Arial, sans-serif;
}

.header {
  display:flex;
  flex-direction:column;
  padding:20px;
  background-color: #fbffca;
}

.login-section,
.info-section{
  padding:20px;
  border-bottom: 1px solid #ccc;
}

.footer{
  padding:20px;
  background-color: #fbffca;
  text-align:center;
}

.login-section form div {
  margin-bottom: 10px;
}

.login-section from label{
  padding: 10px;
}

.login-section from input{
  padding: 5px;
}

.login-section from button{
  padding: 10px 20px;
}

@media (min-Wigth: 768px){
  .header{
    flex-direction:row;
  }

  .login-section{
    flex: 1;
    border-bottom:none;
    border-right: 1px solid #ccc;
  }

  .info-section{
    flex: 2;
  }
}


.footer .container-fluid{
  background-color : #605d2e;
  padding: 20px;
}

.footer h2, .footer h4, .footer p, .footer section{
  margin:10px 0;
}